body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffc0cb, #ff0000); /* Gradient from pink to red */
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease-out;
}

.square:hover {
  background-color: #f0f0f0;
}

.square img {
  max-width: 80%;
  max-height: 80%;
}

#reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-out;
}

#reset-button:hover {
  background-color: #555;
  transition: background-color 0.3s ease-out;
}
